.App {
  text-align: center;
}

.calculatorDiv{
  /* border: 2px solid purple; */
  height: 523px;
  width: 425px;
  margin-left: 527px;
  margin-top: 80px;
}

.calculatorDisplay{
  border: 2px solid purple;
  height: 120px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size: 150%;
}

.calculatorButtons{
  display: grid;
  height: 397px;
  /* border: 2px solid green; */
}

.calculatorButtonRow{
  /* border: 2px solid purple; */
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.calculator-button{
  /* border: 2px solid purple; */
  margin: 10%;
  font-size: 139%;
}