.App {
  text-align: center;
}

.calculatorDiv{
  height:83vh;
  width: 50vw;
  margin-left: 25.33vw;
  margin-right: 33.33vw;
  margin-top: 8vh;
  position: relative;
}

.calculatorDisplay{
  border: 2px solid purple;
  height: 20vh;
  justify-content:center;
  align-items:center;
  font-size: 150%;
}

.calculatorButtons{
  height: 48vh;
  width: 48vw;
}

.calculatorButtonRow{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.calculator-button{
  margin: 10%;
  font-size:2vw;
}